@use "../abstracts/" as *;

.grid {
  display: grid;
  gap: 1.5rem get-clamp(1rem, 1.88rem, 43.75rem, 65rem);
  max-width: 25rem;
  margin-inline: auto;

  grid-template:
    "one"
    "two"
    "three"
    "four"
    "five";

  @include mq($bp-tablet) {
    max-width: 50rem;

    grid-template:
      "one two"
      "one three"
      "four five" auto / 4fr 5fr;
  }

  @include mq($bp-desktop) {
    max-width: 69.375rem;

    grid-template-areas:
      "one one two five"
      "three four four five";
    grid-template-columns: repeat(4, 1fr);
  }
}
