@use "../abstracts/" as *;

.testimonial {
  padding: 1.62rem get-clamp(1.5rem, 2rem, 20rem, 23.4rem) 2rem;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;

  &__title {
    margin-top: 1.12rem;
    quotes: none;
  }

  &__review {
    display: block;
    margin-top: 1rem;
  }

  &:nth-child(1) {
    grid-area: one;

    @include set-background($clr-violet, $outline: true, $bg-img: true);

    @include mq($until: $bp-desktop) {
      .testimonial__review {
        padding-top: 1.5rem;
        padding-right: 1rem;
      }
    }
  }

  &:nth-child(2) {
    grid-area: two;

    @include set-background($clr-gray-dark);
  }

  &:nth-child(3) {
    grid-area: three;

    @include set-background($clr-light);
  }

  &:nth-child(4) {
    grid-area: four;

    @include set-background($clr-dark, $outline: true);
  }

  &:nth-child(5) {
    grid-area: five;

    @include set-background($clr-light);
  }
}
