@use "functions" as *;

// colors

$clr-violet: #7541c8;
$clr-gray-light: #cfcfcf;
$clr-gray-dark: #48556a;
$clr-dark: #19212e;
$clr-light: #fff;
$clr-bg-main: #ecf2f8;

// shadows

$box-shadow: 2.5rem 3.75rem 3.125rem -2.9375rem rgba(72, 85, 106, 0.25);

// breakpoints

$bp-tablet: 700px;
$bp-desktop: 1000px;
